@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  height: 100%;
  width: 100%;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #4995c4;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.checkbox {
  display: flex;
}
a {
  text-decoration: none;
}
input[type=email] {
  border: 3px solid #0091ff;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
input[type=password] {
  border: 3px solid #0091ff;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
input {
  text-align: center;
}
button {
  width: 170px;
  background: #ffff;
  border: 3px solid #0091ff;
  border-radius: 30px;
  transition: ease 0.5s all;
}
button:hover {
  box-shadow: 0px 10px 15px -3px rgba(0.3,0.3,0.3,0.3);
}
input[type=checkbox] {
  transition: ease 0.5s all;
}
h1 {
  color: #82c2f2;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}